 /* .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-wf16b5 {
    background: lightseagreen;
} */
.bg-black{
    background-color: black;
}
.dashboardTextColor{
    color:orangered ;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color:darkslateblue;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-1l8j5k8 {
    background: darkslateblue;
}

/* local host */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background: darkslateblue;
}
.MuiPaper-root.MuiPaper-outlined.MuiPaper-rounded.css-172kgz0-MuiPaper-root {
    background: antiquewhite;
}
.textndary{
    color: rgb(174, 174, 174)
}
.textndary:hover{
    color: rgb(0, 220, 92)
}
.button-log{
    text-decoration: none;
    font-family: system-ui;
    font-weight: 600;
    background: slateblue;
    color: aliceblue;
    border-radius: 2px;
    padding: 20px;
}
.button-log:hover{
    color: indigo;
}
.headers-ds{
    background-color: darkslateblue !important;
}