/* card left  */
.containerts {
  position: relative;
  width: 100%;
}
.carousel-indicators {
  width: 10%;
}
.homeSectionBg {
  background: rgb(226, 226, 226);
  padding-bottom: 6px;
}

.hight-row {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #040404c7;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.containerts:hover .overlay {
  width: 100%;
  left: 0;
}
.linkText {
  text-decoration: none;
}
.alignItems {
  align-items: normal !important;
  justify-items: center !important;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.carousel-control-next {
  display: none !important;
}
.carousel-control-prev {
  display: none !important;
}
.sliderText {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.334;
}
/* --------------------------- */
@media (max-width: 769px) {
}

@media (max-width: 500px) {
}
