.boxShadowCard {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
}
.boxShadowCard:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

/* CSS */
.button-87 {
  padding: 7px 15px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: -10px;

  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 4px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #91b804;
  background-image: linear-gradient(
    45deg,
    #8ea50b 0%,
    #6c8307 51%,
    #ccbf0a 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}
