.modalAddProduct {
  background-color: #cccccc;
  width: auto !important;
}
.modalAddProduct.MuiBox-root.css-1wnsr1i {
  border: 2px solid indianred;
  border-radius: 3px;
}
#transition-modal-title {
  background-color: tomato;
  color: white;
  text-align: center;
  padding: 10px;
}
.submit-from {
  background-color: rgb(90 145 254);
  border: 1px solid rgb(71, 145, 255);

  color: white;
}
.submit-from:hover {
  background-color: rgb(69, 176, 209);
  border: 1px solid rgb(125, 90, 254);
}
.AddInputPd {
  width: 100% !important;
  font-size: medium;
}
