.bgImgDashboard{
    background-image: url("https://thumbs.gfycat.com/DizzyViciousGoosefish-size_restricted.gif");  
    height: 600px;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-size: cover; 
    
}
.BgImage{
    
}